body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 255, 215);
  margin: 0;
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
}

.formulario {
  background-color: white;
  width: 80%;
  margin: 6% 12%;
  padding: 2% 3%;

}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  border-bottom: 3px solid rgb(167, 254, 167);
}

.titulo h1 {
  color: rgb(63, 201, 63);
  font-size: 4rem;
  margin: 0;
  letter-spacing: 1rem;
  padding-bottom: 2%;
}

.titulo2 {
  display: flex;
  justify-content: flex-start ;
  align-items: center;
  padding-top: 4%;
}

.titulo2 h1 {
  color: rgb(0, 105, 0);
  margin: 0;
}